* {
    color: rgb(0, 153, 255);
}

h1 {
    color: blue;
}

p {
    font-size: 17px;

}

.clase1 {
    color: black;
}

#idtitulogrande {
    color: green;
}

a[href] {
    color: brown;
}

a[href*=".ec"] {
    color: red;
}

/*
label:hover{
    color: red;
    background-color: blue;
    font-size: 50px;
}

*/